@import '~reset-css';
@import 'src/assets/scss/vars';
@import 'src/assets/scss/mixins';
@import 'src/assets/scss/typography';
@import 'fonts.css';

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e2ea;
}
